@media screen and (max-width:576px) {
    .nav-container {

        flex-direction: column;
        /* padding: 15px 0px 15px 150px; */

    }

    .logo-container {
        justify-content: center;
        margin-right: -200px;


    }

    .nav-items-container {

        flex-direction: column;
        width: 50%;
        margin-left: 450px;


    }

    .nav-items-container a {
        margin-top: 20px;
    }

    .nav-items-container .follow-btn {
        width: 135%;
        margin-bottom: 10px;
    }

    .banner-container {
        flex-direction: column;
        width: max-content;
        background-size: 930px;
    }

    .banner-content {
        text-align: center;
    }



    .banner-img {
        width: 100%;
        margin-top: 260px;
        margin-left: 75px;
    }

    .online-game-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .top_area {
        min-height: 425px;
        width: 240%;
    }
    .poster {
        flex-direction: column;
    }

    .poster-img {
        width: 100%;
        padding-left: 286px;
    }


    .footer-container {
        width: 100%;
    }

}