@media screen and (max-width:576px) {
    .nav-container {

        flex-direction: column;
        /* padding: 15px 0px 15px 150px; */

    }

    .logo-container {
        justify-content: center;
        padding: 15px 0px 15px 150px;
        margin-bottom: 5px;

    }

    .nav-items-container {

        flex-direction: column;
        /* justify-content: center; */
        width: 50%;
        padding-left: 200px;
        margin-left: 150px;

    }

    .nav-items-container a {
        margin-top: 20px;
    }

    .nav-items-container .follow-btn {
        width: 50%;
        margin-bottom: 10px;
    }
}