@media screen and (max-width:576px) {
    .nav-container {

        flex-direction: column;
        /* padding: 15px 0px 15px 150px; */

    }

    .logo-container {
        justify-content: center;
        margin-right: -200px;


    }

    .nav-items-container {

        flex-direction: column;
        width: 50%;
        margin-left: 450px;


    }

    .nav-items-container a {
        margin-top: 20px;
    }

    .nav-items-container .follow-btn {
        width: 135%;
        margin-bottom: 10px;
    }

    .banner-container {
        flex-direction: column;
        width: max-content;
        background-size: 950px;
        margin-left: 100px;
    }

    .banner-content {
        text-align: center;
        padding-left: 170px
    }



    .banner-img {
        width: 100%;
        margin-top: 260px;
        margin-left: 75px;
    }

    .online-game-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .top_area {
        min-height: 425px;
        width: 240%;
    }

    .poster {
        flex-direction: column;
    }

    .poster-content {
        width: 100%;
        margin-left: 570px;
    }

    .poster-img {
        width: 100%;
        padding-left: 286px;
    }

    .gaming-zone {
        display: grid;
        grid-template-columns: 20% 20% 20%;
        padding: auto;
        row-gap: 14%;
        margin-left: 100px px;
        column-gap: 80%;
    }



    .footer-container {
        width: 100%;
    }
    .footer-link-bar {
        width: 100%;
    
        font-size: 18px;
        font-weight: 600;
        display: grid;
        grid-template-columns: 8% 8% 8% 8% 8% 8%;
        align-items: center;
        justify-content: center;
        column-gap: 20%;
        row-gap: 8%;
        padding-left: 700px;
    }

}